@charset "utf-8";
@import '../index.scss';

.input {
    font-family: $Nunito, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;

    &--label {
        font-weight: 500;
        line-height: 1.2;

        &__error {
            color: #f51e1e;
        }
    }

    &--description {
        display: flex;
        flex-direction: row;
        gap: 3px;
        font-size: 12px;
        &__text {
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-weight: 100;
            color:#333;
            line-height: 1;
        }

        &__icon {
            cursor: help;
        }
    }

    &--content {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        gap: 0.5rem;
        align-items: center;
        border: 1px solid #333;
        box-sizing: border-box;
        
        &__input {
            width: 100%;
            border-style: hidden;

            &:focus {
                outline: none;
            }
        }

        &__error {
            color: #f51e1e;
            border-style: solid;
            border-color: #f51e1e;
        }
    }

    &--radius {
        border-radius: 6px;
    }
        
    &--small {
        font-size: 12px;
        padding: 6px 4px;
    }

    &--default {
        font-size: 14px;
        padding: 8px 8px;
    }

    &--large {
        font-size: 16px;
        padding: 12px 12px;
    }

    &--error {
        font-size: 11px;
        font-weight: 300;
        color: #f51e1e;
    }
}