@charset "utf-8";
@import '../index.scss';
.container {
  font-family: $Nunito;
  position: relative;
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
  height: 100vh;
  background-color: white;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  padding: 1rem 2rem;
  overflow: hidden;

  &--xs {
    max-width: 450px;
  }

  &--sm {
    max-width: 600px;
  }

  &--md {
    max-width: 768px;
  }

  &--lg {
    max-width: 992px;
  }

  &--xl {
    max-width: 1200px;
  }

  &--full {
    width: 100%;
    box-shadow: none;
  }
}